
<div class = club-edit-card>
  <h2>Create Quiniela</h2>
    <div class="card-footer">
    <%= link_to "Create Quiniela", new_club_quiniela_path(@club), class: "btn-yellow" %>
    </div>
</div>

<div class = club-edit-card>
  <h2>Solve Quinielas</h2>
    <div class="card-footer">
    <%= link_to "Solve",root_path, class: "btn-yellow" %>
    </div>
</div>

<div class = club-edit-card>
  <h2> Quinielas Winners </h2>
    <div class="card-footer">
    <%= link_to "Check",root_path, class: "btn-yellow" %>
    </div>
</div>

<div class="club-edit-card">
  <h2>Edit Club Information</h2>
  <%= simple_form_for @club, html: { class: "club-edit-form" } do |f| %>
    <div class="form-group">
      <%= f.label :name, "Club Name" %>
      <%= f.input_field :name, placeholder: "Enter club name"  %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Club Description" %>
      <%= f.text_area :description, rows: 4, placeholder: "Write a brief description of your club" %>
    </div>

    <div class="form-group">
      <%= f.label :logo, "Club Logo" %>
      <%= f.file_field :logo, accept: "image/*" %>
    </div>

    <div class="form-group">
      <%= f.label :header_img, "Header Image" %>
      <%= f.file_field :header_img, accept: "image/*" %>
    </div>

    <div class="card-footer">
      <div class="form-actions">
        <%= f.submit "Save Changes", class: "btn-yellow" %>
      </div>
    </div>
  <% end %>


</div>
