<div class="image-card-clubs">
    <h3>CLUB <br><span class="italic">FEVER.</span></h3>
  </div>

<div class="search-bar-clubs">
  <%= simple_form_for :search, url: clubs_path, method: :get do |f| %>
    <%= f.input :search, placeholder: "Search for your club...", label: false %>
  <% end %>
</div>

<div class="clubs-list">
  <% if @clubs.present? %>
    <% @clubs.each do |club| %>
      <%= link_to club_path(club), class: "club-card-link" do %>
        <div class="club-card">
          <div class="club-logo">
            <%= club_logo(club) %>
          </div>
          <p class="club-name"><%= club.name %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No clubs found</p>
  <% end %>
</div>
