<div class="club-profile-images">
  <div class="club-picture">
    <%= club_header_img(@club) %>

    <div class="club-logo">
      <%= club_logo(@club) %>
    </div>
  </div>
</div>

<div class="club-information">
  <h1 class="club-name"><%= @club.name %></h1>
    <p><%= @club.description %></p>
</div>

<div class="followers-count-card">
  <div class="followers">
  <p class="followers-number"><%= @club.followers.count %></p>
  <p class="followers-label">Followers</p>
  </div>
  <div class="separator"></div>
  <div class="button">
    <% if user_signed_in? && current_user.followed_clubs.include?(@club) %>
    <%= button_to "Following", unfollow_club_path(@club), method: :delete, class: "btn-unfollow" %>
  <% else %>
    <%= button_to "Follow", follow_club_path(@club), method: :post, class: "btn-follow" %>
  <% end %>
  </div>
</div>

<% if user_signed_in? && @club.user_id == current_user.id %>
    <div class="admin-dashboard-card">
      <p>You are the admin of this club. Access your dashboard to manage the club profile and activities.</p>
      <%= link_to "Go to Club Dashboard", edit_club_path(@club), class: "btn-yellow" %>
    </div>
<% end %>

<div class="quinielas-section playable-quinielas-show">
  <h2 class="h2-show">Active Quinielas</h2>
  <% if @club.quinielas.playable.any? %>
    <% @club.quinielas.playable.each do |quiniela| %>
      <div class="quiniela-card-show">
        <div class="participant-count">
          <p><%= quiniela.participants_count + 5 %> participants 🔥</p>
        </div>
        <div class="quiniela-header-show">
          <div class="quiniela-logo">
            <%= cl_image_tag @club.logo.key if @club.logo.attached? %>
          </div>
          <div class="quiniela-info">
            <h3 class="h3-show"><%= quiniela.title %> </h3>
            <p class="quiniela-timing">Starts in: <%= distance_of_time_in_words(Time.now, quiniela.start_date.beginning_of_day) %></p>
          </div>
        </div>
        <div class="prize-card-show">
          <p class="prize-claim">You can win: </p>
          <div class="prize">
            <p><%= quiniela.reward %></p>
          </div>
        </div>
        <% if user_signed_in? && (prediction = quiniela.predictions.find_by(user: current_user)) %>
          <p class="hint-text">
            You have already played this quiniela. <%= link_to "View your Prediction", quiniela_prediction_path(quiniela, prediction), class: "hint-link" %>
          </p>
        <% else %>
        <div class="quiniela-footer">
          <%= link_to "Play", new_quiniela_prediction_path(quiniela), class: "btn-yellow" %>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="quinielas-section active-quinielas-show">
  <% if @club.quinielas.active.any? %>
    <% @club.quinielas.active.each do |quiniela| %>
      <div class="quiniela-card-show">
        <div class="quiniela-header-show">
          <div class="quiniela-logo">
            <%= cl_image_tag @club.logo.key if @club.logo.attached? %>
          </div>
          <div class="quiniela-info">
            <h3 class="h3-show"><%= quiniela.title %></h3>
            <p class="quiniela-timing">Ends in: <%= distance_of_time_in_words(Time.now, quiniela.end_date.end_of_day) %></p>
          </div>
        </div>
        <% if user_signed_in? && (prediction = quiniela.predictions.find_by(user: current_user)) %>
          <p class="hint-text">
            Matches are ongoing. <%= link_to "View your Prediction", quiniela_prediction_path(quiniela, prediction), class: "hint-link" %>
          </p>
        <% elsif user_signed_in? && !(prediction = quiniela.predictions.find_by(user: current_user))%>
          <p class="hint-text">Matches are ongoing, we don't have your prediction for this quiniela </p>
        <% else %>
        <p class="hint-text">Matches are ongoing, wait to finish for results. <br>Good luck!</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>


<div class="quinielas-section past-quinielas-show">
  <h2 class="h2-show">Past Quinielas</h2>
  <% past_quinielas = @club.quinielas.past.order(end_date: :desc).limit(5) %>
  <% if past_quinielas.any? %>
    <% past_quinielas.each do |quiniela| %>
      <div class="quiniela-card-show">
        <div class="quiniela-header-show">
          <div class="quiniela-logo">
            <%= cl_image_tag @club.logo.key if @club.logo.attached? %>
          </div>
          <div class="quiniela-info">
            <h3 class="h3-show"> <%= quiniela.title %> </h3>
            <p class="quiniela-timing"> Ended on: <%= quiniela.end_date.strftime("%B %d, %Y") %></p>
          </div>
        </div>
        <% if quiniela.result.length > 1 %>
          <div class="quiniela-footer">
            <%= link_to "Results", quiniela_path(quiniela), class: "btn-yellow" %>
          </div>
        <% else %>
          <p class="hint-text">
            The club will solve the quiniela really soon. Results available soon!
          </p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No past quinielas recorded.</p>
  <% end %>
</div>


<%#
<p><%= quiniela.participants_count Participants<br> %>
    <%# <%= quiniela.winners_count %>
    <%# Winners</p> %>
