<div class="club-edit-card">
  <h2>Create a New Quiniela</h2>

  <%= simple_form_for [@club, @quiniela], html: { class: "quiniela-form" } do |form| %>
    <div class="form-group">
      <%= form.input :title, label: "Quiniela Title", input_html: { placeholder: "max. 20 characters" } %>
    </div>

    <div class="form-group">
      <%= form.input :reward, label: "Reward", input_html: { placeholder: "Enter the reward for the quiniela" } %>
    </div>

    <div class="form-group">
      <%= form.label :start_date, "Start Date" %>
      <%= form.date_field :start_date %>
    </div>

    <div class="form-group">
      <%= form.label :end_date, "End Date" %>
      <%= form.date_field :end_date %>
    </div>

  <div class="matches-container">
  <h3>Matches</h3>
  <p> Please enter a minimum of 5 matches</p>
  <table>
    <thead>
      <tr>
        <th>Match</th>
        <th>Local Team</th>
        <th>Visitor Team</th>
      </tr>
    </thead>
    <tbody>
      <% 10.times do |i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td>
            <%= form.text_field :local_teams,
              name: "quiniela[local_teams][]",
              value: @quiniela.local_teams[i],
              placeholder: "Local team",
              class: "team-input" %>
          </td>
          <td>
            <%= form.text_field :visitor_teams,
              name: "quiniela[visitor_teams][]",
              value: @quiniela.visitor_teams[i],
              placeholder: "Visitor team",
              class: "team-input" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="card-footer">
    <%= form.submit "Create Quiniela", class: "btn-yellow" %>
  </div>
  <% end %>

  <div class="back-button">
    <%= link_to "Back to Club", club_path(@club), class: "btn btn-secondary" %>
  </div>
</div>
