<div class="quiniela-details-card">
  <h2><%= @quiniela.title %></h2>

  <div class="quiniela-header">
    <h3 class="reward-title">Reward</h3>
    <p class="reward-text"><%= @quiniela.reward %></p>

    <div class="quiniela-dates">
      <div class="start-end">
        <p class="label">STARTS</p>
        <p class="label">ENDS</p>
      </div>
      <div class="dates">
        <p class="date"><%= @quiniela.start_date.strftime("%d %B") %></p>
        <p class="date"><%= @quiniela.end_date.strftime("%d %B") %></p>

      </div>
    </div>
  </div>

  <% if @quiniela.result.length > 1 %>
    <div class="correct-answers">
    <% if current_user && @user_prediction %>
      <p>Your Correct Answers: <strong> <%= @correct_answers %> </strong> out of <strong> <%= @total_matches %> </strong></p>
    <% else %>
      <%= link_to "Log in to see your results", new_user_session_path, class: "login-link" %>
    <% end %>
  </div>
    <div class="quiniela-matches" data-controller="results">
      <% @local_teams.zip(@visitor_teams, @results, @user_prediction&.result || []).each_with_index do |(local, visitor, result, user_prediction), index| %>
      <div class="match">
        <p><%= local %> vs <%= visitor %></p>
        <div class="options" data-results-target="option" data-result="<%= result %>">
          <label for="result_1_<%= index %>" class="result-button btn-local <%= 'correct' if user_prediction == "1" && user_prediction == result %> <%= 'incorrect' if user_prediction == "1" && user_prediction != result %>">1</label>
          <label for="result_x_<%= index %>" class="result-button btn-draw <%= 'correct' if user_prediction == "X" && user_prediction == result %> <%= 'incorrect' if user_prediction == "X" && user_prediction != result %>">X</label>
          <label for="result_2_<%= index %>" class="result-button btn-visitor <%= 'correct' if user_prediction == "2" && user_prediction == result %> <%= 'incorrect' if user_prediction == "2" && user_prediction != result %>">2</label>
        </div>
        <% if user_prediction.present? %>
          <p class="<%= user_prediction == result ? 'text-success' : 'text-wrong' %>">
            Your Prediction: <%= user_prediction %>
          </p>
        <% end %>
      </div>
    <% end %>
    </div>
  <% else %>
      <p>Quiniela not resolved yet, results available soon</p>
  <% end %>
    <div class="form-actions">
      <%= link_to "Winners", quiniela_path(@quiniela), class: "btn-grey"%>
    </div>
</div>
