<div class="authenticate-card">
  <h2>Sign up</h2>

  <div class="input-container">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    placeholder: "First Name",
                    input_html: { autocomplete: "given-name" } %>

        <%= f.input :last_name,
                    required: true,
                    placeholder: "Last Name",
                    input_html: { autocomplete: "family-name" } %>

        <%= f.input :phone_number,
                    required: false,
                    placeholder: "Phone Number",
                    input_html: { autocomplete: "tel" } %>

        <%= f.input :email,
                    required: true,
                    placeholder: "Email",
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>

        <%= f.input :password,
                    required: true,
                    placeholder: "Password",
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>

        <%= f.input :password_confirmation,
                    required: true,
                    placeholder: "Confirm Password",
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn-yellow" %>
      </div>
    <% end %>

    <div class="links">
      <%= render "devise/shared/links" %>
      <p class="hint-text">
        Are you a club admin?
        <%= link_to "Sign up as a club", new_admin_registration_path, class: "club-link" %>
      </p>
    </div>
  </div>
</div>
