<div class="quiniela-details-card">
  <h2><%= @quiniela.title %></h2>

  <div class="quiniela-header">
    <h3 class="reward-title">Reward</h3>
    <p class="reward-text"><%= @quiniela.reward %></p>

    <div class="quiniela-dates">
      <div class="start-end">
        <p class="label">STARTS</p>
        <p class="label">ENDS</p>
      </div>
      <div class="dates">
        <p class="date"><%= @quiniela.start_date.strftime("%d %B") %></p>
        <p class="date"><%= @quiniela.end_date.strftime("%d %B") %></p>
      </div>
    </div>
  </div>

  <%= simple_form_for [@quiniela, @prediction], html: { class: "prediction-form", data: { controller: "selection" } } do |f| %>
  <div class="quiniela-matches">
    <% @local_teams.zip(@visitor_teams).each_with_index do |(local, visitor), index| %>
      <% if local.present? && visitor.present? %>
        <div class="match">
          <p><%= local %> vs <%= visitor %></p>
          <div class="options" data-selection-target="selectedElement">
            <%= f.radio_button :result, "1",
                  name: "prediction[result][#{index}]",
                  id: "result_1_#{index}",
                  class: "hidden-radio",
                  checked: @prediction.result.present? && @prediction.result[index] == "1",
                  data: { action: "change->selection#select" } %>
            <%= f.label "result_1_#{index}", "1", for: "result_1_#{index}", class: "result-button btn-local" %>

            <%= f.radio_button :result, "X",
                  name: "prediction[result][#{index}]",
                  id: "result_x_#{index}",
                  class: "hidden-radio",
                  checked: @prediction.result.present? && @prediction.result[index] == "X",
                  data: { action: "change->selection#select" } %>
            <%= f.label "result_x_#{index}", "X", for: "result_x_#{index}", class: "result-button btn-draw" %>

            <%= f.radio_button :result, "2",
                  name: "prediction[result][#{index}]",
                  id: "result_2_#{index}",
                  class: "hidden-radio",
                  checked: @prediction.result.present? && @prediction.result[index] == "2",
                  data: { action: "change->selection#select" } %>
            <%= f.label "result_2_#{index}", "2", for: "result_2_#{index}", class: "result-button btn-visitor" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit Prediction", class: "btn-yellow" %>
  </div>
  <% end %>
</div>
