<div class="container-home-profile">
  <div class="image-card">
    <h3>CLUB <br><span class="italic">FEVER.</span></h3>
  </div>
  <div class="slogan">Clubs you follow</div>
    <div class="Logo-list">
    <img src="">
  </div>
  <div class="search-button">
    <%= link_to 'Search for new clubs', clubs_path, class: 'btn-yellow' %>
  </div>
</div>



<div class="active-quinielas-show">
  <h2 class="h2-show">Active Quinielas </h2>
  <p>No active Quinelas.</p>
</div>

<div class="past-quinielas-show">
  <h2 class="h2-show">Played Quinielas</h2>
</div>
<% if @past_predictions.any? %>
  <% @past_predictions.each do |prediction| %>
  <div class="past-quinielas-show">
    <div class="quiniela-card-show">
    <div class='quiniela-header-show'>
      <div class="quiniela-logo">
        <%= cl_image_tag prediction.quiniela.club.logo.key if prediction.quiniela.club.logo.attached? %>
      </div>
      <h3 class="h3-show"><%= prediction.quiniela.title %></h3>
      </div>
      <p><strong>Submitted:</strong> <%= prediction.created_at.strftime("%d %B") %></p>
      <p><strong>End date:</strong> <%= prediction.quiniela.end_date.strftime("%d %B") %></p>
      <% if prediction.quiniela.result.length > 1 %>
        <%= link_to "Results", quiniela_path(prediction.quiniela), class: "btn-yellow" %>
      <% else %>
        <p><em>No results yet</em></p>
        <%= link_to "View your Prediction", quiniela_prediction_path(prediction.quiniela, prediction), class: "btn-grey" %>
      <% end %>
    </div>
    </div>
  <% end %>
<% else %>
  <p>No past predictions recorded.</p>
<% end %>
</div>

<div class="profile-section">
  <div class="profile-card">
   <h2>Your Profile</h2>
    <% if @user.avatar.attached? %>
      <img src="<%= url_for(@user.avatar) %>" alt="<%= @user.first_name %>'s Avatar" class="profile-avatar" />
    <% else %>
      <img src="https://www.strasys.uk/wp-content/uploads/2022/02/Depositphotos_484354208_S.jpg" alt="Default Avatar" class="profile-avatar" />
    <% end %>

    <h3 class="profile-username"><%= @user.email %></h3>

    <p class="profile-details"><%= @user.predictions.count %> quinielas played</p>

    <button class="btn-yellow">Edit Profile</button>
  </div>
</div>
