<%if params[:confirmation].present? && @quiniela.present?%>
  <div data-controller="confirmation" >
    <div class="confirmation-alert">

      <div class="club-confirmation-logo">
        <%= cl_image_tag (@quiniela.club.logo.key) if @quiniela.club.logo.attached? %>
      </div>
      <h2><%= @quiniela.club.name %></h2>

      <p>Thank you for taking part in the Quiniela!</p>
      <img width="80" height="80" src="https://img.icons8.com/color/48/checked--v1.png" alt="checked--v1"/>

      <p><%= @quiniela.end_date.strftime("%B %d, %Y")%></p>
      <p>A confirmation email will be sent to <br><%= @user.email %></p>

      <div class="confirmation-overlay">
        <div data-confirmation-target="confirmationContent" class="confirmation-content">
          <button data-action="click->confirmation#closeConfirmation" class="btn-grey">Done</button>
        </div>
      </div>
     </div>
   </div>
  <% else %>
<% end %>

<div class="container-home-profile">
  <div class="image-card">
    <h3>CLUB <br><span class="italic">FEVER.</span></h3>
  </div>

  <div class="club-edit-card">
  <h2>Clubs you follow</h2>
  <div class="followed-clubs">
    <% if current_user.followed_clubs.any? %>
      <% current_user.followed_clubs.each do |club| %>
        <div class="club-card">
          <%= link_to club_path(club) do %>
            <%= image_tag club.logo_url, alt: club.name, class: "club-logo" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>You are not following any clubs yet.</p>
    <% end %>
  </div>
  </div>
  <div class="search-button">
    <%= link_to 'Search for new clubs', clubs_path, class: 'btn-yellow' %>
  </div>
</div>

<h2 class="h2-show">Active Quinielas </h2>
  <% active_quinielas = current_user.followed_clubs.includes(:quinielas).flat_map { |club| club.quinielas.where("end_date > ?", Time.now) } %>
  <% if active_quinielas.any? %>
    <% active_quinielas.each do |quiniela| %>
    <div class="quiniela-card">
      <h3><%= quiniela.title %></h3>
        <div class="quiniela-reward">
          <p><strong>Reward:</strong> <%= quiniela.reward %></p>
        </div>
        <div class="quiniela-dates">
          <p><strong>Starts:</strong> <%= quiniela.start_date.strftime("%B %d, %Y") %></p>
          <p><strong>Ends:</strong> <%= quiniela.end_date.strftime("%B %d, %Y") %></p>
        </div>
        <div class="action-button">
          <%= link_to "Play Now", new_quiniela_prediction_path(quiniela) %>
        </div>
    </div>
    <% end %>
  <% else %>
    <p>No active quinielas at the moment.</p>
<% end %>

<div class="past-quinielas-show">
  <h2 class="h2-show">Played Quinielas</h2>
</div>
<% if @past_predictions.any? %>
  <% @past_predictions.each do |prediction| %>
  <div class="past-quinielas-show">
    <div class="quiniela-card-show">
    <div class='quiniela-header-show'>
      <div class="quiniela-logo">
        <%= cl_image_tag prediction.quiniela.club.logo.key if prediction.quiniela.club.logo.attached? %>
      </div>
      <h3 class="h3-show"><%= prediction.quiniela.title %></h3>
      </div>
      <p><strong>Submitted:</strong> <%= prediction.created_at.strftime("%d %B") %></p>
      <p><strong>End date:</strong> <%= prediction.quiniela.end_date.strftime("%d %B") %></p>
      <% if prediction.quiniela.result.length > 1 %>
        <%= link_to "Results", quiniela_path(prediction.quiniela), class: "btn-yellow" %>
      <% else %>
        <p><em>No results yet</em></p>
        <%= link_to "View your Prediction", quiniela_prediction_path(prediction.quiniela, prediction), class: "btn-grey" %>
      <% end %>
    </div>
    </div>
  <% end %>
<% else %>
  <p>No past predictions recorded.</p>
<% end %>
</div>

<div class="profile-section">
  <div class="profile-card">
   <h2>Your Profile</h2>
    <% if @user.avatar.attached? %>
      <img src="<%= url_for(@user.avatar) %>" alt="<%= @user.first_name %>'s Avatar" class="profile-avatar" />
    <% else %>
      <img src="https://www.strasys.uk/wp-content/uploads/2022/02/Depositphotos_484354208_S.jpg" alt="Default Avatar" class="profile-avatar" />
    <% end %>

    <h3 class="profile-username"><%= @user.email %></h3>

    <p class="profile-details"><%= @user.predictions.count %> quinielas played</p>

    <button class="btn-yellow">Edit Profile</button>
  </div>
</div>
