<%if params[:confirmation].present? && @quiniela.present?%>
  <div data-controller="confirmation" >

    <div  data-confirmation-target="rootConfirmation" class="popup-overlay active" >
      <div data-confirmation-target="confirmationContent" class="confirmation-content">

        <div class="club-confirmation-logo">
          <%= cl_image_tag (@quiniela.club.logo.key) if @quiniela.club.logo.attached? %>
        </div>
        <h2><%= @quiniela.club.name %></h2>

        <p>Thank you for taking part in the Quiniela!</p>
        <img width="80" height="80" src="https://img.icons8.com/color/48/checked--v1.png" alt="checked--v1"/>

        <p><%= @quiniela.end_date.strftime("%B %d, %Y")%></p>
        <p>A confirmation email will be sent to <br><%= @user.email %></p>

        <button data-action="click->confirmation#closeConfirmation" class="btn-grey">Done</button>

      </div>
    </div>

  </div>
  <% else %>
<% end %>

<div class="container-home-profile">
  <div class="image-card">
    <h3>CLUB <br><span class="italic">FEVER.</span></h3>
  </div>


  <div class="profile-section">
    <div class="profile-card">

      <% if @user.avatar.attached? %>
        <img src="<%= url_for(@user.avatar) %>" alt="<%= @user.first_name %>'s Avatar" class="profile-avatar" />
      <% else %>
        <img src="https://www.strasys.uk/wp-content/uploads/2022/02/Depositphotos_484354208_S.jpg" alt="Default Avatar" class="profile-avatar" />
      <% end %>

      <h2 class="profile-username"><%= @user.email %></h2>
      <p class="profile-details"><%= @user.predictions.count %> Quinielas played</p>

      <div class="club-edit-card">
      <h2>Clubs you follow</h2>
      <p class="profile-details"><%= @user.predictions.count %> Quinielas played</p>

      <%= link_to "Edit", edit_user_registration_path, class: "btn-yellow" %>

      <div class="followed-clubs">
        <p>Clubs you follow</p>
        <div class="followed-clubs-flex">
        <% if current_user.followed_clubs.any? %>
          <% current_user.followed_clubs.each do |club| %>
            <div class="club-card">
              <%= link_to club_path(club) do %>
                <%= cl_image_tag club.logo.key, transformation: { width: 100, height: 100, crop: :fill } %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>You are not following any clubs yet.</p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="quinielas-section playable-quinielas-show">
  <h2 class="h2-show">Playable Quinielas</h2>
  <% if @playable_quinielas.any? %>
    <% @playable_quinielas.each do |quiniela| %>
      <div class="quiniela-card-show">
        <div class="participant-count">
          <p><%= quiniela.participants_count + 5 %> participants 🔥</p>
        </div>
        <div class="quiniela-header-show">
          <div class="quiniela-logo">
            <%= cl_image_tag quiniela.club.logo.key if quiniela.club.logo.attached? %>
          </div>
          <div class="quiniela-info">
            <h3 class="h3-show"><%= quiniela.title %></h3>
            <p class="quiniela-timing">Starts in: <%= distance_of_time_in_words(Time.now, quiniela.start_date.beginning_of_day) %></p>
          </div>

        </div>
        <div class="prize-card-show">
          <p class="prize-claim">You can win: </p>
          <div class="prize">
            <p><%= quiniela.reward %></p>
          </div>
        </div>
        <div class="quiniela-footer">
          <%= link_to "Play Now", new_quiniela_prediction_path(quiniela), class: "btn-yellow" %>
        </div>
      </div>
    <% end %>
  <% else %>

    <p>No playable quinielas at the moment.</p>
  <% end %>

</div>

<div class="quinielas-section active-quinielas-show">
  <h2 class="h2-show">Played Quinielas</h2>
  <% if @past_predictions.any? %>
    <% @past_predictions.each do |prediction| %>
      <div class="quiniela-card-show">
        <div class="quiniela-header-show">
          <div class="quiniela-logo">
            <%= cl_image_tag prediction.quiniela.club.logo.key if prediction.quiniela.club.logo.attached?  %>
          </div>
          <div class="quiniela-info">
            <h3 class="h3-show"><%= prediction.quiniela.title %></h3>
            <p class="quiniela-timing">Submitted: <%= prediction.created_at.strftime("%d %B") %></p>
          </div>
        </div>
         <% if prediction.quiniela.result.length > 1 %>
          <div class="quiniela-footer">
            <%= link_to "Results", quiniela_path(prediction.quiniela), class: "btn-yellow" %>
          </div>
        <% else %>
          <p class="hint-text">
            No results yet. <%= link_to "View your Prediction", quiniela_prediction_path(prediction.quiniela, prediction), class: "hint-link" %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No past predictions recorded.</p>
  <% end %>
</div>
