<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>ClubFever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

<h1>Heello</h1>
<h2>Heelo</h2>
<h3>Heello</h3>
<p>Helolo</p>
<a href="#" class="yellow-btn">Yiojp</a>
<a href="#" class="grey-btn">Yiojphf</a>
<a href="#" class="red-btn">Yiojpkjfegfw</a>
<a href="#" class="green-btn">Yio</a>
    <%= yield %>
  </body>
</html>
